{% extends 'base.html' %}

{% block header %}
  <h1>{% block team1 %}New Simulation{% endblock %}</h1>
{% endblock %}
{% block p %}
  <p>{{ output }}</p>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="team1">team1</label>
    <input name="team1" id="team1" value="{{ request.form['team1'] }}" required>
    <label for="team2">team2</label>
    <input name="team2" id="team2" value="{{ request.form['team2'] }}" required>
    <label for="team3">team3</label>
    <input name="team3" id="team3" value="{{ request.form['team3'] }}" required>
    <label for="team4">team4</label>
    <input name="team4" id="team4" value="{{ request.form['team4'] }}" required>
    <label for="strat">strat</label>
    <input name="strat" id="strat" value="{{ request.form['strat'] }}" required>
    <input type="submit" value="Simulate">
  </form>

{% endblock %}

